<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1, minimum-scale=1" />
	<link rel="stylesheet" href="/styles/client.css" />
</head>
<body>
	
	<div id="main" class="container">
		{{{ body }}}
	</div>	

	<script src="/scripts/client.js"></script>

</body>
</html>