{
	"env": {
		"commonjs": true,
		"es6": true,
		"node": true,
		"browser": true
	},
	"extends": "eslint:recommended",
	"parserOptions": {
		"ecmaVersion": 2017,
		"ecmaFeatures": {
			"experimentalObjectRestSpread": true,
			"jsx": true
		},
		"sourceType": "module"
	},
	"plugins": [],
	"rules": {
		"linebreak-style": ["error", "unix"],
		"quotes": ["warn", "single"],
		"semi": ["error", "always"],
		"no-unused-vars": ["warn"],
		"no-console": "off"
	},
	"globals": {
		"__basedir": true,
		"__tmpdir": true,
		"__cachedir": true,
		"__etcdir": true,
		"__keysdir": true,
		"__tmpsecretdir": true,
		"__package": true,
		"AI_NAME_REGEX": true,
		"config": true,
		"cleanText": true,
		"requireOrNull": true,
		"apprequire": true,
		"extractWithPattern": true,
		"requireLibrary": true,
		"requireInterface": true,
		"requireHelper": true,
		"structProtoToJson": true,
		"mongoose": true,
		"Data": true,
		"AI": true,
		"Util": true,
		"IOManager": true,
		"Scheduler": true,
		"Actions": true,
		"timeout": true,
		"uuid": true,
		"rand": true,
		"getLocaleFromLanguageCode": true,
		"mimicHumanMessage": true,
		"getLocalObjectFromURI": true
	}
}
