{
  "extends": ["airbnb"],
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "commonjs": true,
    "es6": true,
    "node": true,
    "browser": true
  },
  "plugins": [],
  "rules": {
    "no-console": "off",
    "no-param-reassign": "off",
    "no-restricted-syntax": "off",
    "no-await-in-loop": "off",
    "global-require": "off",
    "no-continue": "off",
    "import/no-dynamic-require": "off",
    "no-underscore-dangle": "off",
    "camelcase": "warn",
    "no-use-before-define": "off",
    "no-plusplus": "off"
  }
}
