{
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module"
  },
  "env": {
    "commonjs": true,
    "es6": true,
    "node": true,
    "browser": true
  },
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "no-console": "off",
    "no-param-reassign": "off",
    "no-restricted-syntax": "off",
    "no-await-in-loop": "off",
    "global-require": "off",
    "no-continue": "off",
    "import/no-dynamic-require": "off",
    "no-underscore-dangle": "off",
    "camelcase": "warn",
    "no-use-before-define": "off",
    "no-plusplus": "off"
  }
}
