<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1, minimum-scale=1" />
</head>
<body>
	
	<div class="navbar-fixed">
		<nav>
			<div class="nav-wrapper">
				<a href="/" class="brand-logo right"></a>
				<ul id="nav-mobile" class="left hide-on-med-and-down">
				</ul>
			</div>
		</nav>
	</div>

	<div id="main" class="container">
		{{{body}}}
	</div>	

	<script src="/scripts/index.js"></script>

</body>
</html>